*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aquamarine;
}
.boxes{
    display: flex;
}
.box{
    width: 344px;
    height: 344px;background-color: steelblue;
    margin: 3px;
    padding: 3px;
    text-align: center;
    align-content: center;
}

@media only screen and (max-width:500px){
    body{
        background-color: goldenrod;
    }
    .boxes{
        display: inline;
    }
}

/*For orientation of the screen*/
@media screen and (orientation:landscape){
    body{
        border:10px solid purple;
    }
}
/*
Make break points to make your website responsive
1. Break it into 2-3 break points
 For example, that the 
    a. devices having width below 455px are mobiles
    b. devices having wisth below 750ppx and above 455px are tablets
    c. and devices having width it are adapting to the deafult CSS or the primary css.  
*/