
:root{
    /*
    The varible defined in root scope is global. 
    The variable defined here than the variable is called global.
    Now, we can refelect the change on the many more other elements for which we have used these variables to set a color, size, string, px, number etc.

    Suppose what if we want to change the color for a group of elements and this can be achieved by setting the varibles for color as shown below.
    */

    --color: rgb(100, 100, 214);
    --seccolor: rgba(219, 233, 155, 0.879);
}
*{
    margin: 0px;
    padding: opx;

}
.nav{
    /* background: antiquewhite; */
    /*Let's used the color we have set for the variable*/
    background-color: var(--color); 
    color: var(--seccolor);
}
.container{
    /* background-color: rgb(220, 202, 179); */
    background-color: var(--seccolor);
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    margin: 5px 10px;
    border: 5px solid var(--seccolor);
    padding: 2px 6px;
}
ul li:first-child{
    --color: rgb(221, 126, 48); /*Local variable*/
    background-color: var(--color,gray);/*The color gray is given if variable is not found, use the gray color as fall back variable*/
}
